.chooseOption {
  height: 100vh;
  background-color: var(--main-Color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleContent {
  width: 60%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoChoose {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoChooseImage {
  width: 125px;
  height: 125px;

  object-fit: contain;
}
.logoChooseImage img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.headerChoose {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerChoose h1 {
  font-size: 35px;
  font-weight: 800;
  color: #465469;
  text-decoration: none;
}
.orderTypes {
  width: 100%;
  min-height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.firstChoose {
  width: 250px;
  height: 300px;
  background-color: #62748d;
  margin: 10px;
}
