.chooseOption {
  height: 100vh;
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleContent {
  width: 60%;
  height: 90%;
  background-color: var(--yellow);
  transition: ease-in;
  animation: 0.5s middle infinite;
}

@keyframes middle {
  0% {
    transform: rotate(50deg);
  }
  50% {
    width: 40%;
    height: 30%;
  }

  75% {
    background-color: var(--red);
  }

  100% {
    transform: rotate(0deg);
  }
}
