.StartNow {
  width: 100%;
  height: 100vh;
  background-color: var(--main-Color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.banner_StartNow {
  height: 85%;
  width: 100%;
  background-color: var(--main-Color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_StartNow img,
.banner_StartNow video {
  /* Fit the image without breaking pixels to the whole screen  */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buttonStart_StartNow {
  width: 100%;
  height: 15%;
  /* background-color: #124c40; */
  /* background-color: #b3372d ; */
  background-color: #b90e17;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.white {
  width: 100%;
  height: 10px;
  background-color: white;
}
.logo_StartNow {
  width: 40%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 70px;
}
.logo_StartNow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Heading {
  width: 100%;
  height: 100%;
  /* background-color: var(--red); */
  display: flex;
  font-size: 30px;
  font-weight: 800;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}

.headers_StartNow {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
.headers_StartNow h1 {
  font-size: 40px;
  font-weight: 800;
  /* Increase text spacing */
  letter-spacing: 2px;
}
