.containorDrawer {
  position: fixed;
  width: 100%;
  background-color: var(--main-Color);
  z-index: 100;
  bottom: 0;
  border-radius: 50px 50px 0px 0px;
  overflow-y: scroll;
}
/* hide the scrollbar */
.containorDrawer::-webkit-scrollbar {
  display: none;
}
.containorBackButton {
  width: 100%;
  height: 80px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.arrow {
  font-size: 30px;
  font-weight: 500;
}
.productImage {
  width: 100%;
  /* background-color: red; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productImage img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.containorInfoProduct {
  width: 100%;
  max-height: 1000px;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}
.containorInfoProduct1 {
  width: 100%;
  max-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}
.containorInfoProduct h2,
.containorInfoProduct p,
.containorInfoProduct1 h2,
.containorInfoProduct1 p {
  margin: 5px 0px 5px 0px;
}
.containorInfoProduct h2,
.containorInfoProduct1 h2 {
  font-weight: 700;
  font-size: 30px;
}
.containorInfoProduct p,
.containorInfoProduct1 p {
  font-weight: 700;
  font-size: 25px;
  color: var(--yellow);
}
.containorQuantity {
  width: 100%;
  padding: 30px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonIncrement,
.buttonDecrement {
  padding: 20px 30px 20px 30px;

  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--red);
}
.quantity {
  color: black;
  font-size: 20px;
  margin: 0px 20px 0px 20px;
}

.buttonMore {
  width: 100%;
  padding: 30px;
  height: 140px;
  margin-bottom: 20px;

  display: flex;

  justify-content: center;
  align-items: center;
}
.buttonMore button {
  margin: 15px;
  padding: 50px 40px 50px 40px;
  /* color: black; */
  border: none;
  font-weight: 600;
  border-radius: 30px;
}
.button1 {
  background-color: #efefef;

  color: black;
  font-size: 15px;
  font-weight: 700;
}
.button2 {
  background-color: var(--yellow);
  color: var(--red);
  font-size: 15px;
  font-weight: 700;
}

.combo {
  width: 100%;
  padding: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containorCombo {
  width: 50%;
  height: 150px;
  background-color: var(--redBackgroundDiscount);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerContainorCombo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.headerCombo {
  padding: 0px 50px 0px 50px;
}
.headerCombo h2 {
  color: black;
  font-size: 25px;
}

.containorCustomize {
  width: 100%;
  max-height: 700px;

  overflow-y: scroll;
  /* padding: 20px 0px 0px 0px; */
  margin: 10px 0px 10px 0px;
  min-height: 200px;
  margin-bottom: 30px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containorCustomize::-webkit-scrollbar {
  display: none;
}

.buttonMoreData {
  width: 100%;
  position: sticky;
  bottom: 0;
  background: linear-gradient(
    349.72deg,
    white 8.39%,
    rgba(217, 217, 217, 0) 76.83%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.DoneButton {
  margin: 15px;
  padding: 50px 40px 50px 40px;
  color: var(--red);
  background-color: var(--yellow);
  border: none;
  font-weight: 600;
  border-radius: 30px;
}
.customProductQuantity button {
  margin: 15px;
  padding: 10px 20px 10px 20px;
  color: var(--red);
  background-color: var(--yellow);
  border: none;
  font-weight: 600;
  border-radius: 10px;
}

/* Combo meals Css Styling  */
.comboMeals {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  bottom: 0;
}
.mealContainor {
  width: 70%;
  padding: 10px;
  background-color: #efefef;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerComboMeals {
  color: black;
  padding: 25px;
  font-weight: 800;
}

.containorProductInfo {
  display: flex;
  min-width: 300px;

  justify-content: space-around;
  align-items: center;

  color: black;
}
.containorProductInfo .imagePart {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount {
  background-color: var(--red);
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
}
.imagePart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.price {
  color: var(--yellow);
  font-size: 20px;
  font-weight: 700;
}

.buttonsDrawer {
  margin-top: 10px;
  padding: 10px;
  padding-right: 40px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttonsDrawer button {
  padding: 20px 40px 20px 40px;
  border: 1px solid var(--yellow);
  background-color: var(--red);
  color: var(--yellow);

  font-weight: 700;
  border-radius: 10px;
}
